@model IEnumerable<first.Models.MenuModel>

@foreach (var menu in Model)
{
    // check if the menu item has a parent
    if (menu.PerentID == null)
    {
        var child = Model.Where(x => x.PerentID == menu.ID).ToList();
        if (child != null && child.Any())
        {
            // render the parent menu item with child items
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="@Url.Action(menu.Action, menu.Controller)">
                    @menu.MenuText
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-@menu.ID">
                    @foreach (var itm in child)
                    {

                        <a href="@Url.Action(itm.Action, itm.Controller)" class="dropdown-item">@itm.MenuText</a>
                    }
                </div>
            </li>
        }
        else
        {
            // render the parent menu item with no child items
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(menu.Action, menu.Controller)">
                    @menu.MenuText
                </a>
            </li>
        }
    }
}
